@import "./assets/pages/authentication";
@import "./assets/pages/main";
@import "./assets/pages/profile";
@import "./assets/pages/userCars";
@import "./assets/pages/userOffers";
@import "./assets/pages/createRoute";
@import "./assets/pages/emailConfirmation";
@import "./assets/pages/users";
@import "./assets/pages/offerPage";
@import "./assets/pages/routes";

@import "./assets/variables/others";

body,
html {
    min-height: 100%;
    font-family: $general_font;
    width: 100vw;
}
