@import '../variables/colors';
@import '../variables/others';

header {
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $main_header_color;
    gap: 30%;

    h1{
        margin-left: 10%;
        font-size: 20px;
    }

    button{
        border: none;
        background-color: $main_header_color;
    }

    .support_block{
        width: 10%;
        display: flex;
        gap: 10%;
    }

    img{
        width: 40px;
        margin-left: 10px;
    }
    
}
// Tablet
@media only screen and (min-width: $max_phone_size) and (max-width: $max_tablet_size) {
    header{
        display: flex;
        gap: 0%;
        margin-left: -10%;
    }
    h1{
        font-size: 18px;
    }
}

// Mobile
@media only screen and (max-width: $max_phone_size) {
    header{
        display: flex;
        gap: 0%;
        h1{
            font-size: 18px;
            margin: 0%;
        }
        #change-theme{
            width: 0px;
        }
        .support_block{
            width: 25%;
        }
    }
}