@import '../variables/colors';
@import '../variables/others';

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1;
    background-color: #4DE599;
    gap: 30%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    h1 {
        margin-left: 6%;
        font-size: 20px;
        color: white;
    }

    button {
        border: none;
        background-color: #4DE599;
        cursor: pointer;
    }

    .support_block {
        width: 10%;
        display: flex;
        gap: 10%;
    }

    img {
        width: 40px;
        margin-left: 10px;
    }

    @media only screen and (min-width: $max_phone_size) and (max-width: $max_tablet_size) {
        header {
            display: flex;
            gap: 0%;
        }

        h1 {
            margin-left: 8%;
            font-size: 18px;
        }
    }

    @media only screen and (max-width: $max_phone_size) {
        header {
            display: flex;
            gap: 0%;

            #change-theme img {
                width: 0px;
            }

            .support_block {
                width: 25%;
            }
        }
        
        h1 {
            margin: 0;
            font-size: 16px;
        }
    }
}
