@import '../variables/colors';

.textForm {
    input[type=text] {
        border: none;
        outline-width: 0;
        color: white;
    }

    div {
        color: $input_error_message_color;
    }

    &::placeholder {
        font-size: medium;
    }
}

.passwordForm {
    svg {
        color: white;
    }

    div {
        color: $input_error_message_color;
    }

    .passwordInput {
        border: none;
        outline-width: 0;
        color: white;

        input[type=password],
        input[type=text] {
            border: none;
            outline-width: 0;
            color: white;
        }

        &::placeholder {
            color: white;
            opacity: 0.7;
        }
    }
}
