@import '../variables/colors';
@import '../variables/others';

.menu {
  position: fixed;
  display: grid;
  place-items: center;
  width: 300px;
  height: $left_menu_height;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: $white_light_gray;
  transform: translate(-100%);
  transition: all 0.45s;
  padding: 0 20px;
}

.menu.open {
  transform: translate(0);
}

.menu>.menu-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.menu>.menu-items>a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: $white_gray;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.user-profile {
  display: inline;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: $white_gray;
  border-radius: 10px;
  padding: 10px;
}

.user-name {
  margin-top: 10px;
}

#menu-icon {
  width: 35px;
}

#menu-user-icon {
  width: 50px;
}

.logout {
  width: 100%;
  color: white;
  background-color: black;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.menu>.menu-items>a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  transform: scaleX(0);
  transition: all 0.45s;
}

.menu>.menu-items>a:hover::after {
  transform: scaleX(1);
}

.menu.open .menu-items>a:nth-child(1) {
  animation: animate ease-in-out;
  animation-duration: 0.7s;
}

.menu.open .menu-items>a:nth-child(2) {
  animation: animate ease-in-out;
  animation-duration: 0.85s;
}

.menu.open .menu-items>a:nth-child(3) {
  animation: animate ease-in-out;
  animation-duration: 1s;
}

.menu.open .menu-items>a:nth-child(4) {
  animation: animate ease-in-out;
  animation-duration: 1.15s;
}

.menu.open .menu-items>a:nth-child(5) {
  animation: animate ease-in-out;
  animation-duration: 1.3s;
}

.fullName {
  display: flex;
  justify-content: left;

  h2 {
    margin-left: 10px;
  }
}

.imgIcon {
  display: flex;
  align-items: center;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Big monitor
@media only screen and (min-width: $max_laptop_size) and (max-width: $min_big_monitor_size) {
  .Menu {
    width: 40%;
  }
}

// Tablet
@media only screen and (min-width: $max_phone_size) and (max-width: $max_tablet_size) {
  .menu {
    width: 40%;
    overflow-block: scroll;
    height: calc(100vh - 65px);
    overflow-y: scroll;

    .logout {
      margin-top: 25px;
    }
  }
}

// Mobile
@media only screen and (max-width: $max_phone_size) {
  .menu {
    width: 100%;
    overflow-y: scroll;

    .user-profile {
      height: 60px;
      display: flex;
      align-items: center;
    }

    .menu-items {
      display: flex;
      align-items: center;
    }

    .logout {
      margin-top: 25px;
    }
  }
}
