.body {
    height: 100vh;
    background-color: #093545;
    overflow-x: hidden;
}

.body header {
    background-color: #05192c;
    height: 54px;
    text-align: end;
}

.body div {
    display: inline-block;
    width: 200px;
    color: white;
    margin: 5px 20px;
}
