.createTripBody {
    padding: 95px 40px 40px 40px;
    text-align: center;

    #title {
        margin-bottom: 25px;
    }

    #tripBlock {
        padding: 40px 40px 25px 40px;
        border: 2px solid rgb(0 0 0 / 15%);
        border-radius: 10px;
        background: white;
        text-align: start;
    }

    .description-list {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        background-color: white;
        width: 100%;
    }

    .description-item {
        padding: 8px;
    }
}
