@import '../variables/colors';

@import "../components/header";
@import "../components/menu";

.mainPageBody {
    background-color: white;

    .status {
        text-align: center;
        margin-top: 8%;
    }

    .role-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    }

    .role-block {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    .role {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        border-radius: 10px;
        color: #fff;
        font-size: 20px;
        background-size: cover;
        cursor: pointer;
        z-index: 0;
    }

    .role:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .block-sender {
        background-image: url('/src/assets/images/sender.png');
    }

    .block-recipient {
        background-image: url('/src/assets/images/recipiant_grandma.jpg');

    }

    .block-driver {
        background-image: url('/src/assets/images/driver.png');
        width: 530px;
    }

    @media only screen and (max-width: $max_phone_size) {

        .mainPageBody {
            .status {
                margin-top: 25%;
            }
        }

        .role-block {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .block-driver {
            width: 250px;
        }
    }
}
