@import '../variables/colors';
@import "../components/menu";
@import "../variables/others";

.createOfferBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  height: 100%;

  .ant-form {
    width: 90%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    z-index: 0;

    .ant-form-item {
      margin-bottom: 8px;
    }

    .ant-form-item input[type=text],
    .ant-picker {
      width: 100%;
      border-radius: 5px;
      padding: 10px;
    }

    .input-to-hide{
      height: 0px;
    }

    .submitButton {
      background-color: $input_color;
      font-weight: 500;
      border-radius: 5px;
      border: none;
      width: 100%;
      font-size: 16px;
      padding: 6px;
      margin-top: 10px;
      height: auto;
      margin-bottom: 0px;
      float: right;
    }

    .submitButton:hover {
      font-size: 18px;
    }

    .leftFormBlock {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .description-list {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 5px;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
    }

    .description-item {
      padding: 8px;
    }

    .rightFormBlock {
      width: 100%;
      display: flex;
      flex-direction: column;

      .mapBlock {
        width: 100%;
        height: 80%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

      }

      .description {
        div {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: $max_phone_size) and (max-width: $max_tablet_size) {
    .ant-form-item{
      width: calc(100% + 70px);
    }
}

@media only screen and (max-width: $max_phone_size) {
  .createOfferBody .ant-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 20px;
  }

  .createOfferBody .ant-form .rightFormBlock {
    .mapBlock{
      height: 250px;
    }
  }

  .ant-picker-datetime-panel {
    display: flex;
    flex-direction: column ; 
  }

  .ant-picker-time-panel{
    height: 100px;
  }
}
