@import '../variables/colors';

offerPointBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 105px;
  width: 100%;
  height: 100%;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.pointsComponent {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 18px;
  background-size: cover;
  box-shadow: rgb(109 122 128 / 12%) 0 2px 4px 0, rgb(14 30 37 / 32%) 0 2px 16px 0;

  p{
    margin-top: 1em;
  }

  .ant-table-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

@media only screen and (min-width: $max_phone_size) and (max-width: 1660px) {

  .expandedRow{
    margin: 0;
    .offerInfo{
      padding-right: 60px;
      display: flex;
      flex-direction: row;
      width: 100%;
      p{
        width: 25%;
        text-align: right;
      }
    }
  }
}
