@import '../variables/colors';

.profilePageBody {
  padding: 105px 40px 0px 40px;
  background-color: white;

  #infoBlock {
    padding: 40px 40px 25px 40px;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    border-radius: 10px;
    background: white;
  }

  .info {
    div {
      display: inline-block;
    }

    margin-bottom: 15px;
  }

  .infoName {
    width: 40%;
  }

  .infoInput div {
    width: 100%;
  }

  .addItemButton {
    background-color: $body_color;
    border: none;
  }

  .inputBlock {
    width: 60%;
    display: inline-block;
  }

  .blockButton {
    display: flex;
    justify-content: space-between;

    .profileButtons {
      justify-content: end;

      .deleteButton {
        margin-left: 7px;
      }
    }
  }

  .formItem {
    width: 100%;

    div {
      width: 100%;
    }
  }
}
