@import '../variables/colors';
@import '../variables/others';

.userCarsBody {
    padding: 105px 140px 50px 140px;
    justify-content: center;

    .title {
        font-weight: bold;
        font-size: 15pt;
        text-align: center;
        margin-top: -10px;
        color: $title_color;
    }

    img.fieldIcon {
        height: 22px;
        width: 22px;
        margin-right: 15px;
    }

    .leftSide,
    .rightSide {
        display: inline-block;
    }

    .leftSide {
        width: 60%;
        padding-right: 20px;
    }

    .cars-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    }

    .ant-card.carCard {
        width: 80%;
        margin-bottom: 3%;
        box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
        border-radius: 10px;

        .information {
            padding-right: 20px;
            display: flex;
            align-content: flex-start;
        }
    }

    .cardHead {
        margin-top: 0;
        padding-top: 0;
        display: flex-end;

        .carStatus {
            float: right;
            margin-left: auto;
            font-size: 15px;

            #verified {
                color: $green_color;
                margin-bottom: 0;
            }

            #unverified {
                color: $unable_color;
                margin-bottom: 0;
            }
        }
    }

    .cardField {
        display: inline-flex;
        color: #656565;
        font-size: 15px;
    }

    .fieldIcon svg {
        width: 22px;
        height: 22px;
        margin-right: 15px;
    }

    .fieldText {
        margin-left: 25px;
        color: #656565;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: $the_middle_of_tablet_size) {
    .userCarsBody {
        padding: 100px 0;
    }

    .information {
        flex-direction: column;
        font-size: 14px;
    }
}
