@import '../variables/colors';
@import '../variables/others';

.usersPageBody {
    padding: 105px 400px 50px 400px;
    justify-content: center;

    .title {
        font-weight: bold;
        font-size: 15pt;
        text-align: center;
        margin-top: -10px;
        color: $title_color;
    }

    .users-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    }

    img.userIcon {
        height: 40px;
        width: 40px;
        margin-right: 15px;
    }

    img.emailIcon {
        height: 28px;
        width: 28px;
        margin-right: 15px;
    }

    .leftSide,
    .centerSide {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #656565;
    }

    .rightSide {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    p {
        display: flex;
        justify-content: center;
        margin: 5px;
    }

    .ant-card.userCard {
        width: 90%;
        height: min-content;
        margin-bottom: 3%;
        box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
        border-radius: 15px;

        .userInformation {
            display: flex;
            align-content: space-between;
            align-items: center;
            padding: 10px;
        }
    }

    .ant-card-body {
        padding: 5px;
    }

    .detailsButton svg{
        width: 35px;
        height: 35px;
        color: $body_color;
        padding-right: 15px;
    }
}

@media only screen and (max-width: $max_laptop_size) {
    .usersPageBody {
        padding: 105px 150px 50px 150px;
    }
}

@media only screen and (max-width: $max_tablet_size) {
    .usersPageBody {
        padding: 105px 50px 50px 50px;
    }
}

@media only screen and (max-width: $the_middle_of_tablet_size) {
    .usersPageBody {
        padding: 105px 10px 50px 10px;

        .users-container {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $max_phone_size) {
    .usersPageBody {
        .ant-card.userCard {
            .userInformation {
                justify-content: space-between;
                flex-direction: column;
            }
        }

        .leftSide {
            margin: 5px;
            width: 100%;
        }

        .centerSide {
            padding-left: 7px;
            margin: 5px;
            width: 100%;
        }

        .rightSide {
            margin: 5px;
            width: 100%;
            justify-content: center;
        }

        .detailsButton {
            width: 100%;
        }
    }
}
