.body {
    height: 100vh;
    background-color: #093545;
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.title {
    font-size: 72px;
    margin-bottom: 50px;
    margin-top: 0px;
}

.form {
    margin-top: 30px;
    width: 380px;
}

.textInput input[type="text"],
.passwordInput input[type="password"],
.passwordInput input[type="text"] {
    background-color: #224957;
    border-radius: 10px;
    border: none;
    outline-width: 0;
    color: white;
    height: 40px;
    width: 80%;
    margin: 10px 0px;
    font-size: 20px;
    padding: 0px 15px;
}

.passwordInput {
    margin-left: 13px;
    margin-right: -13px;
}

.passwordInput svg {
    margin-left: 10px;
}

.textInput ::placeholder,
.passwordInput ::placeholder {
    color: white;
    opacity: .7;
    font-size: medium;
}

.submitButton {
    background-color: #17a15c;
    border-width: 0px;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 88%;
    margin: 10px 0px;
    font-size: 16px;
    margin-top: 30px;
}

.linkDiv {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.linkDiv a {
    text-decoration: none;
    color: #20DF7F;
}

.linkDiv a:hover {
    text-decoration: underline;
}

/* media queries */

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .title {
        font-size: 54px;
        margin-bottom: 38px;
    }

    p {
        font-size: 14px;
    }

    .form {
        margin-top: 23px;
    }

    .textInput input[type="text"],
    .passwordInput input[type="password"],
    .passwordInput input[type="text"] {
        border-radius: 8px;
        height: 34px;
        font-size: 12px;
        padding: 0px 11px;
    }

    .textInput ::placeholder,
    .passwordInput ::placeholder {
        font-size: small;
    }

    .passwordInput svg {
        height: 14px;
        margin-left: 8px;
    }

    .submitButton {
        border-radius: 8px;
        height: 34px;
        font-size: 14px;
        margin-top: 23px;
        width: 86%;
    }

    .linkDiv {
        width: 210px;
        margin-top: 8px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 599px) {
    .title {
        font-size: 35px;
        margin-bottom: 25px;
    }

    p {
        font-size: 12px;
    }

    .form {
        margin-top: 18px;
        width: 280px;
    }

    .textInput input[type="text"],
    .passwordInput input[type="password"],
    .passwordInput input[type="text"] {
        border-radius: 6px;
        height: 36px;
        margin: 8px 0px;
        font-size: 11pt;
        width: 84%;
        padding: 0px 9px;
    }

    .textInput {
        margin-left: -2px;
    }

    .passwordInput {
        margin-left: 10px;
        margin-right: -10px;
    }

    .passwordInput svg {
        height: 14px;
        margin-left: 6px;
    }

    .textInput ::placeholder,
    .passwordInput ::placeholder {
        font-size: small;
    }

    .submitButton {
        border-radius: 6px;
        height: 36px;
        margin: 6px 0px;
        font-size: 14px;
        width: 90%;
        margin-top: 26px;
    }

    .linkDiv {
        width: 190px;
        margin-top: 10px;
        font-size: 15px;
    }
}

/*( < 599 ] [ 600 - 1199 ] [ 1200 < ) - sizes of screen*/
