.body {
    height: 100vh;
    background-color: #093545;
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.title {
    font-size: 72px;
    margin-bottom: 45px;
}

.center form {
    width: 280px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.textForm input[type="text"] {
    height: 40px;
    border-radius: 10px;
}

/*for error message from input */
.textForm div,
.passwordForm div {
    color: rgb(211, 19, 19);
    width: 280px;
}

.passwordForm svg {
    color: white;
}

.textForm input[type="text"],
.passwordForm input[type="password"],
.passwordForm input[type="text"] {
    background-color: #224957 !important;
    border: none;
    outline-width: 0;
    color: white;
    font-size: 18px;
    padding: 0px 10px;
}

.passwordInput {
    background-color: #224957 !important;
    border-radius: 10px !important;
    border: none !important;
    outline-width: 0;
    color: white;
    height: 40px;
    font-size: 18px;
    width: 280px !important;
    padding: 0px 10px;
}

.textForm ::placeholder,
.passwordForm ::placeholder {
    color: white;
    opacity: .7;
    font-size: medium;
}

.submitItem div {
    height: 40px !important;
}

.submitItem {
    margin-bottom: 10px !important;
    margin-top: 35px !important;
}

.submitButton {
    background-color: #17a15c !important;
    border: none !important;
    height: 40px !important;
    width: 280px;
    font-size: 16px !important;
    margin-bottom: 10px;
    border-radius: 10px !important;
}

.linksDiv {
    width: 280px;
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
}

.linksDiv a {
    text-decoration: none;
    color: #20DF7F;
}

.linksDiv a:hover {
    text-decoration: underline;
}

/* media queries */

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .title {
        font-size: 54px;
        margin-bottom: 38px;
    }

    p {
        font-size: 14px;
    }

    .center form {
        margin-top: 23px;
    }

    .textForm input[type="text"] {
        border-radius: 8px;
        height: 34px;
        font-size: 12px;
    }

    .passwordInput {
        border-radius: 8px !important;
        height: 34px;
        font-size: 12px;
    }

    .textForm ::placeholder,
    .passwordForm ::placeholder {
        font-size: small;
    }

    .passwordForm svg {
        height: 14px;
    }

    /*for error message from input */
    .textForm div,
    .passwordForm div {
        font-size: 13px;
    }

    .submitItem div {
        height: 34px !important;
    }

    .submitButton {
        height: 34px !important;
        font-size: 14px !important;
        border-radius: 8px !important;
    }

    .linksDiv {
        margin-top: 6px;
    }
}

@media only screen and (max-width: 599px) {
    .title {
        font-size: 38px;
        margin-bottom: 28px;
    }

    p {
        font-size: 12px;
    }

    .center form {
        margin-top: 18px;
    }

    .submitButton,
    .submitItem div {
        height: 36px !important;
    }

    .linksDiv {
        margin-top: 6px;
    }
}

/*( < 599 ] [ 600 - 1199 ] [ 1200 < ) - sizes of screen*/