$green_color: #20DF7F;
$body_color: #093545;
$input_color: #224957;
$header_color: #05192c;
$gray: #656565;
$input_error_message_color: rgb(211, 19, 19);

$main_header_color: #FAFAFA;
$white_gray: #DDFBE7;
$white_light_gray: #FFF6F6;

$title_color: #2D2D2D;
$unable_color: #898989;
