$general_font: Verdana,
Geneva,
Tahoma,
sans-serif;

$max_phone_size: 600px;
$the_middle_of_tablet_size: 900px;
$max_tablet_size: 1200px;
$max_laptop_size: 1600px;
$min_big_monitor_size: 1745px;

$header_height: 65.5px;
$left_menu_height: calc(100vh - $header_height);
